$color-black: #000;
$color-white: #fff;

$font-neue-haas-grotesk-regular: 'Neue Haas Grotesk Regular', sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'noscript',
  'preloader',
  'navigation',
  'content',
  'canvas',
);
