@font-face {
  font-family: 'Neue Haas Grotesk Regular';
  src: url('../fonts/neue-haas-grotesk-regular.woff2') format('woff2'),
       url('../fonts/neue-haas-grotesk-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
